<web-app>

    <display-name>Simple Blog Webapp</display-name>

    <!--index-->

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/jsp/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <!--new-->

    <servlet>
        <servlet-name>new</servlet-name>
        <jsp-file>/jsp/newBlogPost.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>new</servlet-name>
        <url-pattern>/post/new</url-pattern>
    </servlet-mapping>

    <!--post-->

    <servlet>
        <servlet-name>post</servlet-name>
        <jsp-file>/jsp/post.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post/*</url-pattern>
    </servlet-mapping>

</web-app>
