.big{
	clear:left;
	height:300px;
	width:300px;
	width:300px;
	border:10px solid black;
}
.small {
	float:left;
	width: 100px;
	height: 100px;
}
#blue {
     background-color: #00EEFF;	 
}
#green {
     background-color: #44FF44;
}
#red {
     background-color: #DD0000; 
}
