<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>post</servlet-name>
    <jsp-file>/post.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post/*</url-pattern>
  </servlet-mapping>
</web-app>
