<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>indexBlog</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>indexBlog</servlet-name>
        <url-pattern>/indexBlog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>aPost</servlet-name>
        <servlet-class>hu.schonherz.training.servlets.APost</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>aPost</servlet-name>
        <url-pattern>/aPost/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>viewPost</servlet-name>
        <jsp-file>/viewPost.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>viewPost</servlet-name>
        <url-pattern>/viewPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newPost</servlet-name>
        <jsp-file>/newPost.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>newPost</servlet-name>
        <url-pattern>/newPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addPost</servlet-name>
        <servlet-class>hu.schonherz.training.servlets.AddPost</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addPost</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>hu.schonherz.training.servlets.AddComment</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>hu.schonherz.training.servlets.Index</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

</web-app>
