<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>hu.schonherz.training.servlets.ViewSinglePost</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>viewPost</servlet-name>
        <jsp-file>/viewPost.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>viewPost</servlet-name>
        <url-pattern>/viewPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newPost</servlet-name>
        <jsp-file>/newPost.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>newPost</servlet-name>
        <url-pattern>/newPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>hu.schonherz.training.servlets.CommentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogPostServlet</servlet-name>
        <servlet-class>hu.schonherz.training.servlets.BlogPostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BlogPostServlet</servlet-name>
        <url-pattern>/BlogPostServlet</url-pattern>
    </servlet-mapping>

</web-app>
