<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>postsJSP</servlet-name>
        <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>newPostJSP</servlet-name>
        <jsp-file>/WEB-INF/jsp/newPost.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>post</servlet-name>
        <jsp-file>/WEB-INF/jsp/Post.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>postsJSP</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPostJSP</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post/show</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/spring-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>hu.schonherz.training.bloggyak.presentation.SpringApplicationContextListener</listener-class>
    </listener>
</web-app>
