<web-app>
    <servlet>
        <servlet-name>commentsServlet</servlet-name>
        <servlet-class>hu.nutty.kepzes.blogapp.servlet.CommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postsServlet</servlet-name>
        <servlet-class>hu.nutty.kepzes.blogapp.servlet.BlogPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>hu.nutty.kepzes.blogapp.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newcommentJSP</servlet-name>
        <jsp-file>/jsp/newcomment.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>postsJSP</servlet-name>
        <jsp-file>/jsp/posts.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>indexJSP</servlet-name>
        <jsp-file>/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>newpostJSP</servlet-name>
        <jsp-file>/jsp/newpost.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>commentsServlet</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postsServlet</servlet-name>
        <url-pattern>/posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newcommentJSP</servlet-name>
        <url-pattern>/newcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postsJSP</servlet-name>
        <url-pattern>/post/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexJSP</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newpostJSP</servlet-name>
        <url-pattern>/post/new</url-pattern>
    </servlet-mapping>
</web-app>
