<web-app>
    <servlet>
        <servlet-name>commentsServlet</servlet-name>
        <servlet-class>hu.nutty.kepzes.blogapp.servlet.CommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentsJSP</servlet-name>
        <jsp-file>/jsp/comments.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>commentsServlet</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentsJSP</servlet-name>
        <url-pattern>/comments.jsp</url-pattern>
    </servlet-mapping>
</web-app>
