body{
    background-color: lightgray;
}

h2{
    text-align: center;
}

button{
    display: block;
    margin: auto;
}

div{
    margin: auto;
    border: 2px solid gray;
    padding: 5px;
    width: 80%;
    text-align: center;
}