<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>hu.schonherz.java.training.blog12.web.servlets.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>New</servlet-name>
        <servlet-class>hu.schonherz.java.training.blog12.web.servlets.NewPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/neww</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <jsp-file>/jsp/welcome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/asd</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FromDataParser</filter-name>
        <filter-class>hu.schonherz.java.training.blog12.web.filters.FormDataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FromDataParser</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
